@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

input,
select {
	-webkit-appearance: none;
	outline: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: 'Quicksand';
}

.bg-black {
	background-color: #222c3c;
}

.border-black {
	border-color: #222c3c;
}

.bg-grey-100 {
	background-color: #d0d1d3;
}

#content {
	min-width: 270px;
}

tr.strikeout {
	opacity: 0.5;
}
tr.strikeout td:before {
	content: ' ';
	position: absolute;
	top: 50%;
	left: 0;
	border-bottom: 1px solid #111;
	width: 100%;
}

#popUpDelete,
form,
#formError {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

input[type='date'] {
	font-family: 'Quicksand';
}
